@media (max-width: 1024px) {
  .text {
    height: 48px;
    justify-content: space-around;
  }
  .p-text {
    display: none;
  }
  .header-icons {
    width: 13px;
    height: 15px;
    display: flex;
    gap: 10px;
  }
  .menu-icon {
    display: block;
  }
  .long-text {
  }
  .SECTION1 {
    height: 650px;
    padding-top: 30px;
    background-image: url(picture2/2.jpeg);
    background-position: center;
    background-size: cover;
  }
  .SECTION2 {
    height: 650px;
    padding-top: 30px;
    background-image: url(picture2/iphone-16-mobile.png);
    background-position: center;
    background-size: cover;
  }
  .Pro {
    font-size: 42px;
  }
  .proo {
    margin-block: 4px 16px;
  }
}
@media (max-width: 768px) {
  .SECTION4 {
    grid-auto-rows: 490px;
  }
  .sec4-pic1 {
    padding-block: 42px;
  }
  .part1 {
    font-size: 30px;
    font-weight: 700;
  }
  s .SECTION6-scroll {
    width: 689px;
    height: 398px;
  }
  sec1-text1 {
    margin-top: 500px;
  }
}
@media (max-width: 390px) {
  .header {
    height: 500px;
  }
  .SECTION1 {
    background-image: url(picture2/iphone-16-pro-mobile.png);
    justify-content: flex-end;
  }
  .SECTION2 {
    background-image: url(picture2/iphone-16-mobile.png);
  }
  .SECTION6-scroll {
    width: 274px;
    height: 495px;
  }
}
